/* 
main color : #229dd1
seconday color : #323946
*/ 

/* Main color */ 
body.theme-blue .font-theme-color,
body.theme-blue section.service .cm-right .cm-right-wrap .why-list .wl-box .wl-box-left,
body.theme-blue .section-team .img-box a:hover li,
body.theme-blue section.home-blog .by-icon,
body.theme-blue .post-page ul li.prev a:hover,
body.theme-blue .post-page ul li.next a:hover,
body.theme-blue .title-banner .tb-text .page-info,
body.theme-blue .wrap-circle-sosmed:hover a,
body.theme-blue section.footer .footer-post-item .fp-content .fpc-date,
body.theme-blue section.footer .ct-footer .content-footer-col .footer-item-contact .icons,
body.theme-blue section.testimonial .heading-text,
body.theme-blue section.testimonial .item-testimonial .client-info .rating,
body.theme-blue section.testimonial .item-testimonial .client-content h4,
body.theme-blue header.header.sticky .logo .fa-chart-pie,
body.theme-blue section.image-menu .im-box .imb-text .text-heading-service { color: #229dd1; }
@media screen and (max-width: 991px) { 
body.theme-blue header.header .logo span i { color: #229dd1; } }

body.theme-blue .back-to-top,
body.theme-blue .section-title h1:before,
body.theme-blue section.service .cm-left .cm-left-content-layer .section-title,
body.theme-blue section.home-blog .bloghome-wrap .blg-top .blg-top-date,
body.theme-blue .page-sidebar-2 .sidebar-widget .header-sb .sidebar-heading:after,
body.theme-blue  .contact-form .heading-footer-col:before,
body.theme-blue  section.footer .ct-footer .heading-footer-col:before,
body.theme-blue  .style-option-wrap .style-btn-class,
body.theme-blue .tag-cloud-wrap a:hover { background: #229dd1; }

body.theme-blue .back-to-top.btn-primary:hover, 
body.theme-blue .back-to-top.btn-primary:focus, 
body.theme-blue .back-to-top.btn-primary:active, 
body.theme-blue .back-to-top.btn-primary.active, 
body.theme-blue .open .back-to-top.dropdown-toggle.btn-primary,
body.theme-blue .theme-btn:hover,
body.theme-blue .theme-btn.light,
body.theme-blue .box-price-list .joinnow:hover,
body.theme-blue .portfolio-gallery .btn.fil-cat:hover {background-color: #229dd1; }

body.theme-blue .tag-cloud-wrap a:hover,
body.theme-blue .wrap-circle-sosmed,
body.theme-blue .portfolio-gallery .btn.fil-cat:hover  { border: 1px solid #229dd1; }
body.theme-blue .page-sidebar .header-sb::after { border-bottom: 3px solid #229dd1; }


/* Secondary color */ 
body.theme-blue .text-theme ,
body.theme-blue body .page-link,
body.theme-blue .theme-btn.light,
body.theme-blue section.get-in-touch .git-right .btn-git { color: #323946; }

body.theme-blue section.get-in-touch .git-right .btn-git:hover,
body.theme-blue section.footer,
body.theme-blue section.service .cm-right,
body.theme-blue .sc-portfolio,
body.theme-blue section.testimonial,
body.theme-blue section.testimonial .bg-tst .bg-color-tst,
body.theme-blue .btn-theme,
body.theme-blue .rounded-button,
body.theme-blue .outline-btn:hover,
body.theme-blue section.service  { background: #323946; }

body.theme-blue .theme-btn,
body.theme-blue .theme-btn.light:hover,
body.theme-blue .box-price-list .joinnow,
body.theme-blue body .page-item.active .page-link  { background-color: #323946; }

body.theme-blue .outline-btn:hover,
body.theme-blue body .form-control:focus,
body.theme-blue body .form-control:active,
body.theme-blue section.get-in-touch .git-right .btn-git  { border: 1px solid #323946; }

body.theme-blue body .page-item.active .page-link {  border-color: #323946; }

body.theme-blue .sticky .nav-header nav .navbar-nav > li > a:hover,
body.theme-blue .header.sticky .nav-header .nav > li.active > a { border-bottom: 5px solid #323946; } 

body.theme-blue .portfolio-gallery .btn.fil-cat:hover,
body.theme-blue .theme-btn.light,
body.theme-blue .box-price-list .joinnow:hover,
body.theme-blue .section-team a,
body.theme-blue .theme-btn:hover,
body.theme-blue section.get-in-touch .git-right .btn-git:hover { color: #ffffff; }
body.theme-blue .section-team .img-box ul li { border: 1px solid #ffffff; }


 
 































